{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <h1>{{ meta.title }}</h1>
        <div class="me-container">
        {{ content }}
        <img src="{{ meta.Image[0].url }}" alt="{{ meta.Image[0].title }}">
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
