{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="me-container">
            <img src="{{ meta.Image[0].url }}" alt="{{ meta.Image[0].title }}">
            <div class="me-text">
                <h1>{{ meta.title }}</h1>
                {{ content }}
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
