$text-color-dark: #c5bad2;
$heading-color-dark: #fff;
$accent-color-dark: #f3e493;
$link-color-dark: #99e6f0;
$link-color-hover-dark: #fff;
$background-color-dark: #010011;
$background-alt-color-dark: #0E0C2F;
