$text-color-light: #091620;
$heading-color-light: #153651;
$accent-color-light: #7a4467;
$link-color-light: #7a4467;
$link-color-hover-light: #a7628f;
$background-color-light: #c6ddf0;
$background-alt-color-light: #eff5fb;
