$theme: 'dark' !default;
@import './color_variables/variables';
@import 'global-variables';

.gallery {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  margin: 6em 0;
}

.gallery-img {
  position: relative; /* Behövs om du vill använda `object-fit` */
  overflow: hidden;
}

.gallery-img img {
  width: 100%; /* Bilder fyller bredden av sin container */
  height: 100%; /* Gör att de fyller höjden */
  object-fit: cover; /* Bilder skalas proportionellt och beskärs om nödvändigt */
  object-position: center; /* Bilder centreras i sin container */
}


/********** MEDIA QUERIES **********/

@media (max-width: $breakpoint-mobile) {
  .gallery {
    grid-template-columns: 1fr; /* En kolumn */
    grid-template-rows: auto; /* Låter raderna anpassa sig */
    margin: 2em 0;
  }
}
