$font-text: 'Fira Sans', sans-serif;
$font-headings: 'Host Grotesk', sans-serif;
$font-accent: 'Fira Sans Condensed', sans-serif;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-large: 1000px;
$breakpoint-extra-large: 1200px;
