$text-color: #aba1b8;
$heading-color: #fff;
$text-alt-color: #898096;
$accent-color: #ecd969;
$link-color: #99e6f0;
$background-color: #101011;
$background-alt-color: #18181b;

$font-text: 'Fira Sans', sans-serif;
$font-headings: 'Host Grotesk', sans-serif;
$font-accent: 'Fira Sans Condensed', sans-serif;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-large: 1000px;
$breakpoint-extra-large: 1200px;
