.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav a, .nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}

@media (max-width: 900px) {
    .header .site-header {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }

    #nav .nav {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
}
